<!DOCTYPE html>
<html>
	<head>
		<title>HI BUDDY</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="WELCOME BUDDY">
		<style>
			h1 {
				font-family: Times, serif;
				color: #621e1e;
				text-align: default;
			}
			p {
				font-family: Times, serif;
				font-size: 30px;
				text-align: default;
				color: #2d2f2d;
			}
		</style>
	</head>
	<body>
		<h1>THIS IS ROMAN</h1>
		<p>WELL DONE BUDDY| CONGRATULATIONS</p>
	</body>
</html>
